.message-input {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.message-input input {
  padding: 12px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 15px;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.message-input input:focus {
  border-color: #5b9bd5;
  outline: none;
}

.message-input button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5b9bd5;
  color: #fff;
  border-radius: 30px;
  border: none;
  transition: all 0.3s ease;
}

.message-input button:hover {
  background-color: #4a8ac2;
}
