body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cadastro-usuario-container {
    display: flex;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.content h2 {
    margin-bottom: 20px;
}

.form-cadastro-usuario {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.avatar-section {
    display: flex;
    align-items: center;
}

.avatar-icon {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.alterar-icone-button {
    padding: 8px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 99999;
    animation: fadeInOut 3s ease forwards;
}

/* Animação para a notificação */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.checkboxes {
    display: flex;
    gap: 20px;
}